.products {
  display: flex;
  flex-wrap: wrap;
}
.product {
  padding: 25px;
  text-align: center;
  border: 1px solid $color-light-grey;
  max-width: 150px;
  max-height: 346px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  z-index: 1;

  &__img {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%;
  }
  &__img {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%;
  }
  &__name {
    font-size: 16px;
    width: 100%;
    font-weight: 700;

    text-align: center;

    color: $color-black;
    font-family: Karla, sans-serif;
  }
  &__avail {
    color: $color-blue;
    font-weight: 700;
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }
  &__sale {
    background-color: $color-blue;
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 700px;
    font-size: 0.75em;
    position: absolute;
    top: 0px;
    left: 0px;

    padding: 4px 10px;
  }
}
